* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

#hero,
#about,
#projects,
#experience {
	min-height: 100vh;
}
.container {
	width: 85vw;
	margin: auto;
}

.blur {
	position: absolute;
	@include glass();
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: 400;
}
h3 {
	font-size: 1.17rem;
}
img {
	width: 100%;
}
.icon-btn {
	svg {
		font-size: 2rem;
	}
}
@media screen and (max-width: 1500px) {
	.container {
		width: 90vw;
	}
}
@media screen and (max-width: 1350px) {
	.container {
		width: 95vw;
	}
}

.icon {
	width: 36px;
	height: 36px;
}
