nav {
	background: $dark-primary-color;
	color: $light-secondary-color;
	font-weight: 400;
	position: fixed;
	z-index: 3;
	padding: 0.5rem;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 76px;

	.nav-header {
		flex: 1;
		@include flex-center(row);
		.nav-toggle {
			display: none;
			div {
				width: 18px;
				height: 18px;
			}
		}
		font-size: 1rem;
		text-transform: uppercase;
		.icon {
			width: 23px;
			height: 23px;
		}
		.logo-icon {
			margin-right: 0.5rem;
			font-size: 1.25rem;
		}
	}

	.links {
		flex: 1;
		transition: all 0.3s linear;
		@include flex-center(row);
		list-style-type: none;
		.link-items {
			display: block;
			padding: 0.5rem 1rem;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.active {
		text-decoration: underline;
	}
	.nav-controls {
		flex: 1;
		@include flex-center(row);
	}
	.nav-resume {
		margin-right: 5rem;
	}

	.lang-btn {
		background-color: transparent;
		border: none;
		margin: 0 0.5rem;
		cursor: pointer;
		pointer-events: auto;
		opacity: 0.5;
	}
}

@media screen and (max-width: 1100px) {
	nav {
		.nav-resume {
			margin-right: 3rem;
		}
	}
}

@media screen and (max-width: 800px) {
	nav {
		flex-direction: column;
		.nav-header {
			justify-content: space-between;
			width: 100%;
			.nav-toggle {
				display: block;
			}
		}

		.links {
			height: 0;
			max-height: 0;
			overflow: hidden;
			flex-direction: column;
			text-align: center;
		}

		.show-container {
			height: auto;
			max-height: 8.25rem;
		}

		.nav-resume {
			display: none;
		}
		.nav-controls {
			.lang-selector {
				button {
					max-width: 24px;
				}
			}
		}
	}
}
